body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
h1, h3, h5{
    font-family: 'Montserrat';
}

/* navbar */

.nav{
    display: flex;
    justify-content: flex-end;
    background-color:black;
    padding: 15px 0px;
    margin: 0px;
    opacity: 0.5;
    position: fixed;
    margin-top: 0px;
    z-index: 1;
    width: 100%;
   
}

.menu-nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    

}

/* header */

.header-image{
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
    display: block;
}


.header h1{
    position: absolute;
    top: 390px;
    left:470px;
    color: white;
    
}

.header p{
    position: absolute;
    top: 460px;
    left: 340px;
    color: white;
}

/* engineering */

.engineering-image{
    width: 255px;
    height: 360px;
    display: inline;
}

/* iconite */

.icon-orange{
    color: #fd5f00;
    font-size: 24px;
}
/* cele 4 poze */
.cards-image{
    width: 200px;
    height: 120px;
}

/* create si lemuri */
.create-image{
    width: 240px;
    height: 340px;
}

/* sectiune download */
.download-part{
    background-color: #fd5f00;
    color: white;}

.download-button{
    color: white;
    background-color: #fd5f00;
    border: #eceaea solid 2px;
    }


/* footer */

.footer-menu a{
    color: #fd5f00 !important;
}

/* cele 3 carduri care au fundal gri */
.background{
    background-color: #f8f9fa;
}

/* h6 ce contin cuvantul bookmark */
.bookmark{
    color: #fd5f00 ;
}

/* read more */
.read{
    color: #fd5f00;
}



















